.form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.formLabel {
  font-weight: 500;
  color: slateblue;
  background-color: white;
  border: 2px solid slateblue;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all .25s;
}

.formLabel:hover {
  color: white;
  background-color: slateblue;
}

.formInput {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}