.imageContainer {
  position: relative;
  max-width: 275px;
  height: 183px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
  margin: 10px;
  cursor: pointer;
  transition: all .25s;
}

.imageContainer:hover {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.75);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tooltipVisibility {
  opacity: 0;
  transition: all .25s;
}

.imageContainer:hover .tooltipVisibility {
  opacity: 1;
}
