.imageTooltip {
  position: absolute;
  z-index: 10;
  width: 150px;
  font-size: 12px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
}

.positionTop {
  top: -40px;
  left: calc(50% - (150px/2));
}

.positionBottom {
  bottom: -40px;
  left: calc(50% - (150px/2));
}

.positionLeft {
  top: 50%;
  left: -165px;
}

.positionRight {
  top: 50%;
  right: -165px;
}

@media screen and (max-width: 600px) {
  .positionTop,
  .positionLeft,
  .positionRight {
    top: auto;
    bottom: -40px;
    left: calc(50% - (150px/2));
  }
}