.editContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  margin: auto;
  overflow: auto;
}

.editPosition {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
}

.editBody {
  padding: 20px;
}

.image {
  width: 100%;
}

.title {
  margin-bottom: 5px;
}

.tooltipTextField {
  width: 100%;
  border: 0;
  font-size: 14px;
}

.radioBtn {
  margin-right: 5px;
}

.labelTitle {
  margin-right: 10px;
}

.btnRow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.button {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: slateblue;
  background-color: white;
  border: 2px solid slateblue;
  border-radius: 20px;
  padding: 6px 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: all .25s;
}

.button input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.submit:hover {
  color: white;
  background-color: slateblue;
}

